<!-- SIDENAV HEADER -->
<div fxLayout="column" fxLayoutAlign="space-between start"
     class="header p-24 pb-4" ngClass="mat-accent-bg" ngClass.gt-md="white-fg">
    <div class="logo" fxFlex fxLayout="row" fxLayoutAlign="start center">
        <mat-icon class="logo-icon s-32" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'50ms',scale:'0.2'}}">shopping_cart</mat-icon>
        <span class="logo-text" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}">LojaVirtual</span>
    </div>

    <div class="account" fxLayout="column" *fuseIfOnDom [@animate]="{value:'*',params:{delay:'300ms'}}">
        <div class="title black-fg">Categorias</div>
        
    </div>

</div>
<!-- / SIDENAV HEADER -->

<!-- SIDENAV CONTENT -->
<div class="content" fusePerfectScrollbar *fuseIfOnDom [@animate]="{value:'*',params:{y:'50px'}}">

    <div class="nav">

        <div class="nav-item">
            <a class="nav-link" matRipple [routerLink]="'/apps/todo/all'" routerLinkActive="active">
                <mat-icon class="nav-link-icon">view_headline</mat-icon>
                <span>Capilar</span>
            </a>
        </div>
        <div class="nav-item">
            <a class="nav-link" matRipple [routerLink]="'/apps/todo/all'" routerLinkActive="active">
                <mat-icon class="nav-link-icon">view_headline</mat-icon>
                <span>Cosméticos</span>
            </a>
        </div>
        <div class="nav-item">
            <a class="nav-link" matRipple [routerLink]="'/apps/todo/all'" routerLinkActive="active">
                <mat-icon class="nav-link-icon">view_headline</mat-icon>
                <span>Nutrição</span>
            </a>
        </div>
        <div class="nav-item">
            <a class="nav-link" matRipple [routerLink]="'/apps/todo/all'" routerLinkActive="active">
                <mat-icon class="nav-link-icon">view_headline</mat-icon>
                <span>Intima</span>
            </a>
        </div>
        <div class="nav-item">
            <a class="nav-link" matRipple [routerLink]="'/apps/todo/all'" routerLinkActive="active">
                <mat-icon class="nav-link-icon">view_headline</mat-icon>
                <span>Tecnológica</span>
            </a>
        </div>
        <div class="nav-item">
            <a class="nav-link" matRipple [routerLink]="'/apps/todo/all'" routerLinkActive="active">
                <mat-icon class="nav-link-icon">view_headline</mat-icon>
                <span>Material de Apoio</span>
            </a>
        </div>
        

        
    </div>

</div>
<!-- / SIDENAV CONTENT -->
