<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>
        <div id="photos-videos" class="p-24" *fuseIfOnDom [@animateStagger]="{value:'50'}">
                <div class="period">
            
                    <div class="period-title">
                        <span class="mat-headline">Downloads</span>
                        <span class="info"></span>
                    </div>
            
                    <div class="period-media" fxLayout="row" fxLayoutWrap>
                        <div class="media" 
                             [@animate]="{value:'*',params:{y:'100%'}}">
                            <img class="preview" src="assets/images/etc/cactus.jpg">
                            <div class="title">Cactus</div>
                        </div>
                        <div class="media" 
                             [@animate]="{value:'*',params:{y:'100%'}}">
                            <img class="preview" src="assets/images/etc/mountain-lake.jpg">
                            <div class="title">Lago</div>
                        </div>
                        <div class="media" 
                             [@animate]="{value:'*',params:{y:'100%'}}">
                            <img class="preview" src="assets/images/etc/mountain-sunset.jpg">
                            <div class="title">Montanhas</div>
                        </div>
                        <div class="media" 
                             [@animate]="{value:'*',params:{y:'100%'}}">
                            <img class="preview" src="assets/images/etc/tropical-beach.jpg">
                            <div class="title">Praia</div>
                        </div>
                    </div>
                    <div class="period-media" fxLayout="row" fxLayoutWrap>
                            <div class="media" 
                                 [@animate]="{value:'*',params:{y:'100%'}}">
                                <img class="preview" src="assets/images/etc/air-balloons.jpg">
                                <div class="title">Balões</div>
                            </div>
                            <div class="media" 
                                 [@animate]="{value:'*',params:{y:'100%'}}">
                                <img class="preview" src="assets/images/etc/road-trip.jpg">
                                <div class="title">Estradas</div>
                            </div>
                            <div class="media" 
                                 [@animate]="{value:'*',params:{y:'100%'}}">
                                <img class="preview" src="assets/images/etc/avenue.jpg">
                                <div class="title">Cidades</div>
                            </div>
                            <div class="media" 
                                 [@animate]="{value:'*',params:{y:'100%'}}">
                                <img class="preview" src="assets/images/etc/snow.jpg">
                                <div class="title">Gelo</div>
                            </div>
                    </div>
                    
                </div>
                
            </div>

</div>