<div  fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
    <mat-card class="card-test ml-8">
        <img mat-card-image src="assets/images/cards/card2.jpg">
    <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
    </mat-card >
    <mat-card class="card-test ml-8">
        <img mat-card-image src="assets/images/cards/card2.jpg">
    <mat-card-content>
        <p>
          The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
          A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
          bred for hunting.
        </p>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
    </mat-card-actions>
    </mat-card>
</div>
<div class="" ngxDroppable  (out)="onDrop($event)" *fuseIfOnDom [@animateStagger]="{value:'50'}">
   novo item 
</div>
