<div id="ngx-datatable" class="page-layout simple fullwidth" fusePerfectScrollbar>

  <!-- CONTENT -->
  <div class="content p-24">
      <div class="mat-header-row px-9" fxLayoutAlign="space-between center">
          <div fxLayout="column" fxLayoutAlign="center start">
          <div class="black-fg" fxLayout="row" fxLayoutAlign="start center">
            <span class="mat-headline">Minha Rede</span>
            <div *ngIf="rede">
                <button matTooltip="Voltar ao id principal" (click)="openDir(auth.getUser().id)"><mat-icon>reply</mat-icon></button>
                <span matBadge>ID ATUAL - {{rede}}</span>
            </div>
            
          </div>
          
      </div>
        
        <mat-form-field>
          <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
          <mat-icon matSuffix>search</mat-icon> 
        </mat-form-field>
  </div>
      
        
      
            <div class="example-container mat-elevation-z8">
              <mat-table [dataSource]="dataSource" matSort>
                <!-- Avatar Column -->
                <ng-container cdkColumnDef="avatar">
                    <mat-header-cell *cdkHeaderCellDef fxFlex="60px"></mat-header-cell>
                    <mat-cell *cdkCellDef="let row" fxFlex="60px">
                        <img class="avatar" src="assets/images/avatars/profile.jpg"/>
                    </mat-cell>
                </ng-container>
                
                <!-- ID Column -->
                <ng-container matColumnDef="id">
                  <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="70px"> ID </mat-header-cell>
                  <mat-cell *matCellDef="let row" fxFlex="70px"> {{row.id}} </mat-cell>
                </ng-container>
            
                
                <!-- Name Column -->
                <ng-container matColumnDef="nome">
                  <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="70%"> Nome </mat-header-cell>
                  <mat-cell *matCellDef="let row" fxFlex="70%"> {{row.nome}} </mat-cell>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="telefone">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%"> Fone </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="10%"> {{row.telefone}} </mat-cell>
                  </ng-container>

                <!-- Cidade Column -->
                <ng-container matColumnDef="cidade">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%"> Cidade </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="10%"> {{row.cidade}} </mat-cell>
                  </ng-container>

                <!-- Estado Column -->
                <ng-container matColumnDef="estado">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="10%"> Estado </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="10%"> {{row.estado}} </mat-cell>
                  </ng-container>
                
                <!-- Situacao Column -->
                <ng-container matColumnDef="ativo">
                    <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="20%"> Situação </mat-header-cell>
                    <mat-cell *matCellDef="let row" fxFlex="20%"> {{row.ativo == 'Y' ? 'ATIVO' : 'INATIVO'}} </mat-cell>
                </ng-container>  
            
                <!-- Opcoes Column -->
                <ng-container matColumnDef="acoes">
                  <mat-header-cell *matHeaderCellDef mat-sort-header fxFlex="60px"> Diretos </mat-header-cell>
                  <mat-cell *matCellDef="let row" fxFlex="60px">
                      <button matTooltip="Diretos" (click)="openDir(row.id)"><mat-icon>group</mat-icon></button>
                  </mat-cell>
                </ng-container>
            
                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;">
                  
                </mat-row>
                
              </mat-table>
              <mat-progress-bar *ngIf="isProgressBar"  class="loading-bar" color="accent" mode="indeterminate"></mat-progress-bar>
              <mat-paginator [length]="100"
              [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]">
            </mat-paginator>
            </div>

</div>

